.contact-banner {
    background-color: #222F5D;
    box-shadow: 0 1em 1em #F4F7FB;
    width: 90%;
    box-sizing: border-box;
    border-radius: .8em;
    padding: 2.5em 0;
    margin: 20em auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

.contact-banner>h1 {
    width: 60%;
    text-align: center;
    font-size: 2.5em;
    line-height: 1.5em;
    font-weight: 700;
    color: #ffffff;
}

.contact-banner-btn {
    background-color: #FF8560;
    width: 10em;
    height: 2.5em;
    border: none;
    border-radius: 1.5em;
    padding: 0.5em 1em;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 1em;
    text-decoration: none;
    text-align: center;
    line-height: 2.5em;
}

.contact-banner-btn:hover {
    background-color: #FDF0ED;
    color: #FF8560;
}

@media screen and (max-width: 768px) {
    .contact-banner>h1 {
        width: 100%;
    }
}