nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 5em;
    background-color: #6100C1;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    transition: top 0.3s ease-in-out;
}


.nav-icon-m {
    display: none;
    color: rgb(239, 228, 27);
    z-index: 2;
}

.nav-link {
    display: inline-block;
    margin-left: 1em;
    transition: all 3s ease-in-out;
}

.program {
    display: flex;
    align-items: center;
}

.nav-link>a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

.list-program {
    display: flex;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.1);
    width: 20em;
    border-radius: 0.5em;
    box-sizing: border-box;
    padding: .5em;
    transition: all 0.3s ease-in-out;
    top: -10em;
    right: 15.5em;
}

.list-program.open {
    display: flex;
    top: 4em;
}

.list-program-item {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.list-program-item:hover {
    transform: scale(1.1);
}

.list-program-item-img {
    width: 2.5em;
}

.list-program-item>p {
    margin-top: 0.5em;
    line-height: 1em;
    color: #A1A1B0;
}

.contact-link {
    background-color: #6C14C7;
    box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5em;
    transition: all 0.3s ease-in-out;
}

.contact-link:hover {
    background-color: #e7d9ff;
    color: #6100C1;
}

hr {
    width: 1.5em;
    transform: rotate(90deg);
    margin-left: 1em;
}

@media screen and (max-width: 768px) {
    nav {
        padding: 0 1em;
    }

    nav>ul {
        position: absolute;
        top: -1em;
        left: 0;
        background-color: #fff;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        z-index: 1;
        transition: transform 0.3s ease-in-out;
        transform: translateX(100%);
    }

    .nav-icon-m {
        display: block;
    }

    nav>ul.open {
        transform: none;
    }

    .nav-link {
        display: block;
        margin-left: -5.5em;
    }

    hr {
        display: none;
    }

    .list-program {
        width: 80%;
        left: 1.5em;
        top: -20em;
        margin-top: 13em;
    }

    .nav-link {
        padding: 2em 0;
    }

    .list-program {
        padding: .3em;
    }


    .list-program>ul>li:nth-child(even) {
        background-color: #6C14C7;
    }

    .list-program>ul>li:nth-child(even)>a {
        color: #fff;
    }

    .nav-link>a:not(.contact-link) {
        color: #3E4971;
    }

}